#container {
    display: flex;
    align-items: center;
}

.btn {
    height: 100px;
    width: 100px;
    background-color: brown;
}

#image {
    height : 500px;
    width: 500px;
    border : 1px solid black;
}
